

.app-heading {
    padding: 4rem 0;
    text-align: center;
}


.simple-ancestor {
    display         : flex;
    justify-content : space-between;

    width  : 80%;
    height : 400px;
    margin : auto;
}


.simple-droppable-container,
.simple-droppable-container--can-accept {
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    align-items     : center;
    
    padding : 1rem;
    width   : 40%;
    height  : 100%;
    
}

.simple-droppable-container { background-color : #dddddd; }
.simple-droppable-container--can-accept { background-color : #aaaaaa; }

.draggable-block,
.draggable-block--dragging {
    height : 25%;
    width  : 100%;
}

.draggable-block { background-color: orange; }
.draggable-block--dragging { background-color: #272727; }