

.app-heading {
    padding: 4rem 0;
    text-align: center;
}


.simple-ancestor {
    display         : flex;
    justify-content : space-between;
    
    width  : 80%;
    height : 400px;
    margin : auto;
}


.simple-droppable-container {
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    align-items     : center;
    
    padding : 1rem;
    width   : 40%;
    height  : 100%;

    background-color : #dddddd;

    & div+div { margin-top: 1rem; }
    
}

.can-accept { background-color : #aaaaaa; }

.simple-droppable-container .simple-droppable-container {
    width: 100%;
    height: 70%;
    outline: 1px solid black;
}

.draggable-block,
.draggable-block--dragging {
    height           : 25%      ;
    width            : 100%     ;
    background-color : orange ;

    &:hover  { cursor : grab     ; }
    &:active { cursor : grabbing ; }
}

.draggable-block--dragging { opacity: 0.5; }